# Data
numpy==2.3.5
pandas==3.0.6
scikit-learn==1.9.1

# Visualization
matplotlib==3.11.2
seaborn==0.13.2

# Image Processing
Pillow==12.3.0
opencv-python==4.14.0.94

# Training utilities
tqdm==4.70.1

# Dataset download 
roboflow==1.5.0

# Explainability
grad-cam==1.5.7

# openAI API
openai==3.19.2
python-dotenv==1.2.3

# Jupyter / VS Code notebooks
ipykernel==7.3.0

# PyTorch CUDA
torch==2.5.1+cu121
torchvision==0.20.1+cu121

# Yolo
ultralytics==8.4.161